body{
    /* font-family: 'Bebas Neue', cursive; */
}
.btn-primary{
    background: linear-gradient(90deg, #44C9CC 0%, #3399CC 100%);
}

.btn-secondary{
    background: linear-gradient(90deg, #FDAF48 0%, #FC8B62 100%);
}

.btn-outline-secondary{
    border: 1px solid  #FC8B62;
}

.ml-n1{
    margin-left: -2rem;
}

.ml-n2{
    margin-left: -4rem;
}

.ml-n3{
    margin-left: -6rem;
}

.ml-n4{
    margin-left: -8rem;
}

.ms-6{
    margin-left: 7rem;
}

img{
    image-rendering: -webkit-optimize-contrast;
}

.bg-image {
  background-image: url(../img/Frame\ 90.png);
  background-repeat: no-repeat;
}

.bg-image-two {
    background-image: url(../img/Frame\ 82.png);
  background-repeat: no-repeat;
}
.py-6{
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.px-6{
    padding-right: 7rem;
    padding-left: 7rem;
}

.mt-6{
    margin-top: 7rem;
}
.text-primary{
    color: #6EBFC5 !important;
}

.border-primary{
    border-color: #6EBFC5 !important;
}

.bg-primary {
    background-color: #31323B !important;
}

.footer-link {
    list-style-type: none;
}

.text-secondary {
    color: #F0AE5C !important;
}

.bg-image-one {
  background-image: url(../img/image.module.png);
  background-repeat: no-repeat;
}

.bg-image-three {
  background-image: url(../img/Project.item.png);
  background-repeat: no-repeat;
}

.bg-image-four {
  background-image: url(../img/Project.item\ \(1\).png);
  background-repeat: no-repeat;
}

.h30 {
    height: 30rem !important;
}

.h25 {
    height: 25rem !important;
}

.bg-tertiary{
    background-color: #ECECED !important;
}
